body {
  display: flex;
  flex-direction: column;
  /* padding: 1em; */
  line-height: 1.5em;
  font-family: Baskerville, "Libre Baskerville", serif;
  color: #2A2A2A;
}

.playlists {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.description {
    display: flex;
    justify-content: center;
}

.description > div {
    max-width: 800px;
}

a:hover {
    border-bottom: 2px solid;
    border-bottom-color: #fea2a2;
}

a:visited {
    color: #8A8A8A;
}

a {
    color: #2A2A2A;
    text-decoration: none;
}

/* header and footer areas */
nav {
    display: flex;
}
nav > div {
    flex: 1 1;
    padding: 5px;
    text-align: center;
}

.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  padding: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { 
    font-size: 1.1em;
    line-height: 1.3em;
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-spacing: 0;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 9px; }
td { border-top: 1px solid #ccc; }
thead { background: #f4f4f4; }

code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
}

#footer-links {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: left;
}

footer {
    margin-top: 60px;
    padding: 40px;
    font-size: small;
    font-family: "Droid Sans", sans;
}

#footer-links ul {
    list-style: none;
}

