<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "header.html" . }}
    <body>
        {{if not .IsHome }}
        <h1>{{ .Title | markdownify }}</h1>
        {{ end }}
        {{ .Content }}
        <ul>
            {{ $pages := .Pages }}
            {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
            {{ range (where $pages "Section" "!=" "") }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            </li>
            {{ end }}
        </ul>
        {{ partial "footer.html" . }}
    </body>
</html>
