<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "header.html" . }}
    <body>
        <div class="article-meta">
            <h1><span class="title">{{ .Title | markdownify }}</span></h1>
            {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
            {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
        </div>
        <nav>
            {{ range .Site.Menus.main }}
            <div><a href="{{ .URL | relURL }}">{{ .Name }}</a></div>
            {{ end }}
        </nav>
        <main>
            {{ .Content }}
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
