  <footer>
  <hr/>
  <div id="footer-links">
      <div>
          <ul> 
            {{ $pages := where .Site.RegularPages "Section" "playlists" }}
            {{ range sort $pages ".Params.order" }}
                <li><a href="{{ .Permalink | relURL }}" title="{{ .Params.short_title }}">{{ .Params.short_title }}</a></li>
            {{ end }}
          </ul>
      </div>
      <div>
          <ul> 
              {{ range .Site.Params.links }}
              <li><a href="{{ index . 0 | relURL }}" title="{{ index . 1 }}">{{ index . 1 }}</a></li>
              {{ end }}
          </ul>
      </div>
  </div>
  {{ with .Site.Params.footer }}
  {{ . | markdownify }}
  {{ end }}
  </footer>
