<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "header.html" . }}
    <body>
        <div class="article-meta">
            <img src={{ "/images/thin-flattened-sm.webp" | relURL }}>
            <h1><span class="title">{{ .Title | markdownify }}</span></h1>
            {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
            {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
        </div>
        <nav>
            {{ $pages := where .Site.RegularPages "Section" "playlists" }}
            {{ range sort $pages ".Params.order" }}
                <div><a href="{{ .Permalink | relURL }}" title="{{ .Params.short_title }}">{{ .Params.short_title }}</a></div>
            {{ end }}
        </nav>
        <main>
            <section class="description">
                <div>{{ .Content }}</div>
            </section>
            <section class="playlists">
                {{ range .Params.sources }}
                <table class="playlist">
                    <thead>
                        <tr>
                            <th>Episode</th>
                            <th>{{ .title }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range index $.Site.Data .source }}
                        <tr>
                            <td>№ {{ .episode }}</td>
                            <td><a href="{{ .url }}">{{ .title }}</a></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}
            </section>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
